<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParkOn - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous">
    @*<script type="text/javascript">
            var appInsights=window.appInsights||function(config){
                function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace","Ajax"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
            }({
                instrumentationKey:"1a86dd16-23a6-4e42-8152-d62fbb2ead9c"
            });

            window.appInsights=appInsights;
            appInsights.trackPageView();
        </script>*@
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 font-12">
                    <strong>Email: </strong>info@parkon.com
                    &nbsp;&nbsp;
                    <strong>Support: </strong>+98-765-432-10
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END-->
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="../assets/img/logo.png" class="custom-logo" />
                </a>
            </div>
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="left-div">
                    <a href="/account/login">
                        <i class="fa fa-user-plus login-icon"></i>
                    </a>
                </div>
            }
            else if (User.Identity.IsAuthenticated && User.IsInRole("VendorAdmin"))
            {
                <div class="left-div">
                    <div class="user-settings-wrapper">
                        <ul class="nav">
                            <span class='headerMyProfileSec' style="color:white" onclick="openNav()"><span class="fa fa-user headerProfile"></span><span class="myprofileText">My Profile</span></span>
                        </ul>
                    </div>
                </div>
            }
            <div id="mySidenav" class="sidenav">
                <span id="myprofile">My Profile</span>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div id="vendorProfile" class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <span class="fa fa-user vendorImage"></span>
                        </div>
                    </div>
                    @*<div class="row vendorName">
                            <div id="vendorName" class="col-lg-12 col-md-12 col-sm-12">@User.Identity.Name</div>
                        </div>*@
                    <div class="row vendorID">
                        <div id="vendorID" class="col-lg-12 col-md-12 col-sm-12">5542451</div>
                    </div>
                    <div class="row vendorAddress">
                        <div id="vendorAddress" class="col-lg-12 col-md-12 col-sm-12">
                            <p>
                                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                                "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
                            </p>
                        </div>
                    </div>
                    <div class="row Email">
                        <div id="Email" class="col-lg-12 col-md-12 col-sm-12">
                            <p>@User.Identity.Name</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a href="/account/logoff">Logout</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- LOGO HEADER END-->
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    &copy; @DateTime.Now.Year ParkOn | Created with <i class="fa fa-heart"></i>  By ParkOn
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER SECTION END-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function openNav() {
            document.getElementById("mySidenav").style.width = "350px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>
